input[type="button"]{
    background-color: #000000;
    color: white;
    border-radius: 6px;
    text-align: center;
    text-decoration:none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 8px; 
    height: 59px;
    width: 182px; 
    }

    input[type="email"]{
        border: 4px solid black;
        border-radius: 6px;
        height: 48.5px;
        margin-top: 19px;
        width: 300px;
        padding-top: 4px;
        padding-bottom: 1px;
    }

    ::placeholder {
    padding-left: 20px;
    font-weight: 600;
    font-size: 17px;
}


    div.box1 {
        background-color: #FFCD9E;
        padding: 55px 2px 56px 150px;
        font-size: 30px;
        height: 450px;
        width:900px;
    }

   

    #left {
        font-size:36px;
        font-family: 'inter';
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 30px;
    }

    #img1 {
        background-color: #FFCD9E;
        padding-right:40px;
    }

    #container {
        display:flex;
    }
    #sub2 {
        margin-top: 5px;
        font-size:20px;
    }

    ul.lf {
    list-style-type: none;
    margin-top: none;
    padding-top: 50px;
    font-family: inter;
    width: 50%;
    }

    ul.rf {
    list-style-type: none;
    margin-top: none;
    font-family: inter;
    text-align: right;
    width:50%;
    padding-top: 50px;
    padding-right: 160px;
    }

    #footer {
        display: flex;
        background-color: #282828;
        color: white;
        font-size: 16px;
        line-height: 1.6;
        position: fixed;
        padding-left: 100px;
        top: 520px;
        height: 350px;
        width: 1412px;
    }